
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    @RenderPage("_head.cshtml")
</head>
<body class="theme-red">
    <!-- Page Loader -->
    @RenderPage("_pageLoader.cshtml")
    <!-- #END# Page Loader -->


    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->



    <!-- Search Bar -->
   @RenderPage("_searchBar.cshtml")
    <!-- #END# Search Bar -->



    <!-- Top Bar -->
    @RenderPage("_header.cshtml")
    <!-- #Top Bar -->
    <section>
        <!--SideBar-->

        @RenderPage("_sidebar.cshtml")

        <!----------->
    </section>



    <!--Content------>
    @RenderBody()
    <!--------------->



    <!-- Jquery Core Js -->
    <script src="/Assets/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="/Assets/Admin/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="/Assets/Admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="/Assets/Admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="/Assets/Admin/plugins/node-waves/waves.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="/Assets/Admin/plugins/jquery-countto/jquery.countTo.js"></script>
    <!-- Morris Plugin Js -->
    <script src="/Assets/Admin/plugins/raphael/raphael.min.js"></script>
    <script src="/Assets/Admin/plugins/morrisjs/morris.js"></script>
    <!-- ChartJs -->
    <script src="/Assets/Admin/plugins/chartjs/Chart.bundle.js"></script>
    <!-- Flot Charts Plugin Js -->
    <script src="/Assets/Admin/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/Assets/Admin/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/Assets/Admin/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/Assets/Admin/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/Assets/Admin/plugins/flot-charts/jquery.flot.time.js"></script>
    <!-- Sparkline Chart Plugin Js -->
    <script src="/Assets/Admin/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- Custom Js -->
    <script src="/Assets/Admin/js/admin.js"></script>
    <script src="/Assets/Admin/js/pages/index.js"></script>
    <!-- Demo Js -->
    <script src="/Assets/Admin/js/demo.js"></script>
</body>
</html>